<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Notice: NO INTERNET PERMISSION per Privacy Policy (PRD/TAD Section A9 & B18) -->

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="Inkleaf"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Inkleaf.Starting">
        
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:label="Inkleaf"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Storage Access Framework (SAF) Markdown document viewer intent -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="text/markdown" />
                <data android:mimeType="text/x-markdown" />
                <data android:mimeType="text/plain" />
                <data android:scheme="content" />
                <data android:scheme="file" />
            </intent-filter>
        </activity>
    </application>
</manifest>
